# Temporary files
*.save
*~
*.bak

# Compiled files
colibri/rosws/build/*
colibri/rosws/devel/*
colibri/linux4tegra/*
station/rosws/build/*
station/rosws/devel/*
arduino-1.5.8/*
*.so
*.o
*.out

# Include pre-compiled header files
!*.h
